* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--color-black);
    font-family: var(--font-dm-san);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar__navigation {
    background-color: var(--color-lighter-black);
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.logo {
    background: var(--color-lighter-black);
    display: flex;
    border-radius: 8px;
    padding: 16px 0 0 16px;
}

.sidebar__navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 15px;
    padding: 0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: var(--color-gray);
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
}

.library {
    background-color: var(--color-lighter-black);
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 4px 8px;
    color: var(--color-gray);
    font-weight: 600;
    font-size: 15px;
    margin-top: 10px;
}

.library__content {
    display: flex;
    justify-content: space-between;
}

.library .library__button {
    display: flex;
    margin-right: 10px;
    color: var(--color-gray);
    background-color: transparent;
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 20px ;
}

.library .library__button .fa {
    font-size: 20px;
    font-weight: 300;
    color: var(--color-gray);
    margin-right: 10px;
    padding-right: 8px;
}

.library .library__content .fa-plus {
    margin: 24px 10px;
}

.library__playlist {
    border-radius: 8px;
    background-color: var(--color-gray-darker);
    padding: 4px 8px;
    justify-content: space-between;
    flex-direction: column;
}

.library__playlist .playlist__content {
    margin-top: 10px;
}

.library__playlist .playlist__content span, p {
    padding: 15px 0px 25px 20px;
    color: white;
}

.library__playlist .playlist__content span {
    font-weight: 600;
    font-size: 14px;
}

.library__playlist .create__playlist {
    padding: 11px;
    text-decoration: none;
    color: var(--color-black);
    background-color: white;
    border-radius: 20px;
    display: block;
    width: fit-content;
    margin: 0px 0px 6px 16px;
}

.library__playlist .playlist__content p {
    font-weight: 300;
    font-size: 13px;
}

.cookie {
    margin-top: 25px;
}

.cookie .cookie__config p {
    font-size: 11px;
    font-weight: 300;
}

.cookie .cookie__button {
    margin-right: 10px;
    color: white;
    background-color: var(--color-lighter-black);
    border: 2px solid var(--color-gray);
    border-radius: 20px;
    font-size: 15px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    padding: 8px;
    margin: 10px 0px 10px 15px;
}

.disclaimer-premium {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: linear-gradient(to right, #d602d6, #00bdbd);
}

.text {
    flex-shrink: 0;
}

.text .disclaimer-premium__title {
    font-weight: 700;
}

.text .disclaimer-premium__subtitle {
    font-weight: 500;
}

.text .disclaimer-premium__title, .disclaimer-premium__subtitle {
    font-size: 15px;
    color: white;
    padding: 8px;
    margin-left: 30px;
}

.disclaimer-premium__button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.disclaimer-premium__button button {
    color: var(--color-black);
    background-color: white;
    padding: 17px 30px;
    border: none;
    border-radius: 40px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    flex-shrink: 0;
}

.disclaimer-premium__button button:hover {
    box-shadow: 0 0 1rem var(--color-black);
}